extends layout

block content
  include components/ads/search-results
  .ui.container
    .ui.segment
      form.ui.form
        .field
        - var query = formDataObj.q
          input(name='q', type='text', placeholder='Termino de búsqueda', value=query)
        .field
          label Solo buscar en los siguientes tablones
          - var boards = formDataObj.boards // Algo mas corto. Un poco mas bonito.
          select.ui.dropdown(multiple, name='boards')
            each board in allowList
              option(value=board, selected=(boards) ? boards.includes(board) : false)= board
        .inline.fields
          label Solo
          .field
          - var op = (formDataObj.op) ? true : false
            .ui.toggle.checkbox
              input(name='op', value='true', type='checkbox', checked=op)
              label OPs
        .inline.fields
          label Solo posts con archivos
          - var exts = formDataObj.extensions // Extensiones.
          .field
            .ui.toggle.checkbox
              input(name='extensions', value='mp4', type='checkbox', checked=(exts) ? exts.includes('mp4') : false)
              label mp4
          .field
            .ui.toggle.checkbox
              input(name='extensions', value='webm', type='checkbox', checked=(exts) ? exts.includes('webm') : false)
              label webm
          .field
            .ui.toggle.checkbox
              input(name='extensions', value='img', type='checkbox', checked=(exts) ? exts.includes('img') : false)
              label jpg/png/gif
          .field
            .ui.toggle.checkbox
              input(name='extensions', value='pdf', type='checkbox', checked=(exts) ? exts.includes('pdf') : false)
              label pdf
        button.ui.button(type='submit') Buscar
    h1 Resultados de la búsqueda: #{q}
    if items.length < 1
      center: h2 No hay resultados
    .ui.items#hispaBox
      each item in items
        - var thread = item.thread ? item.thread.postId : item.postId
        a(href='/'+item.board+'/res/'+thread+'.html#'+item.postId)
          .reply(style='margin: 10px 0;')
            div
              label
                span.filetitle= item.subject
                span.postername
                  |  #{item.posterName}
                span.timer 
                  |  {{'#{item.date.toISOString()}' | moment 'DD/MM/YY HH:mm'}}
                span
                  |  /#/ #{item.postId}
            .flex
              if item.file.thumb
                img(src=item.file.thumb)
              blockquote !{renderer(item.message)}
    //- Páginas
    center
      if totalPages > 1
        .ui.pagination.menu.inverted
          each page in pages
            if page.type == 'page'
              a(class=page.active?'item active':'item', href='/search?'+currentQuery+'&p='+page.num) #{page.text || page.num}
            if page.type == 'divider'
              .item ...